
.appointmentsContainer {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(4, 0.1fr);
}

.appointmentsCard {
    display: flex;
    justify-content: center;
    align-items: center;
}