
.registerHome{
    width: 100%;
    height: 100%;
    background-color: #dbf6e9;

    display: flex;
    align-items: center;
    justify-content:center;
}

.registerOptions{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 1em;
    height: 36em;
    width: 36em;
    border-radius: 1em;
    background-color: #9ddfd3;
    box-shadow: 0.05em 0.2em 0.2em 0.1em grey, 0.05em 0.1em 0.05em 0.05em black;

}

.buttonRegister{
    height: 3em;
    width: 6em;
    border-radius: .5em;
    cursor: pointer;
    margin: 1em;

    background-color: #fcdb87;
    transition: 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonRegister:hover {
    background-color: #ffc93c;
    transition: 0.2s;
}