
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 65em;
    width: 35em;
    border-radius: 0.5em;
    border: solid #31326f;
    background-color: #9ddfd3;
    
}


.botonCuco:hover{
    background-color: lightpink;
    transition: 0.2s;
}

.name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 2em;
    width: 30em;

    border: none;
    outline: none;
    border-radius: 1em;
    padding-left: 1.5em;
    font-size: 1em;
    cursor: auto;

    transition: 0.5s;
    box-shadow: 0 0 0 0 black;
}

.name2 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    height: 2em;
    width: 30em;

    border: none;
    outline: none;
    border-radius: 1em;
    padding-left: 1.5em;
    padding-right: 1em;
    font-size: 1em;
    cursor: auto;

    transition: 0.5s;
    box-shadow: 0 0 0 0 black;
}

.red {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 2em;

    border: solid 0.2em red;
    outline: none;
    border-radius: 1em;
    padding-left: 1.5em;
    font-size: 1em;
    cursor: auto;

    box-shadow: 0 0 0 0 black;
}

.name:hover{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0em 0.2em 0.2em 0.005em rgb(36, 36, 36), 0em 0.2em 0.2em 0.05em rgb(75, 75, 75);
}

.registerButton{
    cursor: pointer;
}