
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2em;

    height: 60em;
    width: 35em;
    border-radius: 0.1em;
    /* border: solid #31326f; */
    background-color: #dfeaf7;
    
}

.vistaRegisterDentist {

}


.botonCuco:hover{
    background-color: lightpink;
    transition: 0.2s;
}

.red {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 2em;

    border: solid 0.2em red;
    outline: none;
    border-radius: 1em;
    padding-left: 1.5em;
    font-size: 1em;
    cursor: auto;

    box-shadow: 0 0 0 0 black;
}

.registerButton{
    cursor: pointer;
}

