
.drawCalendar {
    display: grid;

    align-items: center;
    justify-content: center;
    text-align: center;

    grid-template-columns: repeat(7, 0.1fr);
    grid-template-rows: repeat(6, 0.2fr);
}

.dayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 6em;

    border: solid 0.1em rgb(79, 69, 255);
    background-color: rgb(136, 237, 255);
    border-radius: 0.5em;
    padding: 2em;
    margin: 0.5em;
}