
.drawCalendar {
    display: grid;

    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 0.5em #2ecece;
    
    padding: 0.4em;
    border-radius: 0.2em;
    

    grid-template-columns: repeat(7, 0.1fr);
    grid-template-rows: repeat(7, 0.2fr);
}

.vistaCalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20em;
    width: 20em;

}

.writeDate {

    margin-top: -4em;
    /* background-color: red; */
}

.dayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    box-sizing: border-box;
    overflow: hidden;

    border-bottom: solid 0.05em #2ecece;
    background-color: none;
    font-size: small;
    border-radius: 0.2em;
    transition: 0.2s;
}

/* .dayBox:focus{
    background-color: red;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

.dayBox:hover{
    background-color: rgb(241, 73, 7);
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1.1);
}

.numberBox {
    width: 3em;
    height: 1em;
    outline: none;
    border: none;   
    background-color: yellow; 
}



.selectMonth:after {

}

.inputCalendar {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    outline: none;
    border: none;
}
