
.drawCalendar {
    display: grid;

    align-items: center;
    justify-content: center;
    text-align: center;

    grid-template-columns: repeat(7, 0.1fr);
    grid-template-rows: repeat(7, 0.2fr);
}

.vistaCalendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 35em;
    
}

.dayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    box-sizing: border-box;
    overflow: hidden;

    border-bottom: solid 0.05em rgb(79, 69, 255);
    background-color: rgb(136, 237, 255);
    font-size: small;
    transition: 0.2s;
}

.dayBox:focus{
    background-color: red;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dayBox:hover{
    background-color: rgb(153, 243, 255);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.numberBox {
    width: 5em;
    outline: none;
    border: none;
    border-bottom: solid 0.1em red;
    
}

.selectMonth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4em;
    border: none;
    outline: none;
}

.inputCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 10em;

    outline: none;
    border: none;

}
