
.allContent {
        width: 100wh;
        height: 100wh;
        background-color: #dbf6e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
}

.content {
    height: 25em;
    width: 20em;
    margin: 2em;
    border-radius: 1em ;
    border: solid #31326f;
    background-color: #9ddfd3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clinicsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.texto {
    display: flex;
    flex-direction: column;
    position: relative;
    right: -7.6em;
    bottom: 1em;
}
.clinicChoose {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    bottom: 0em;
}

.salas {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.6em;
    width: 12em;
    bottom: 0em;
    height: 9em;
    left: 1.4em;
}

.enviar {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.3em;
    width: 12em;
    background-color: #9ddfd3;
    top: 0em;
    right: -1em;
    cursor: pointer;
    height: 2.5em;
    box-shadow: 0em 0.2em 0.2em -0.1em black;
    justify-content: center;
}
.enviar:hover {
    color: #ffffff;
}
