
.dentistsAllbyUser{
    margin-top: 1.5em;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.choose {
    width: 100vw;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dentistCard {

    height: 25em;
    width: 23em;
    margin: 2em;
    background-color:#dfeaf7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.dentistsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}