
.formulario1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 35em;
    border-radius: 0.1em;
    background-color: #dfeaf7;

    box-sizing: border-box;
    padding: 0em;
}

.errorsText {
    font-size: 0.7em;
    color: red;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.vistaRegisterClient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60em;

    background-color: red;
}


.botonCuco:hover{
    background-color: lightpink;
    transition: 0.2s;
}

.registerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 0.2em;
    border: solid 0.02em #31326f;
    cursor: pointer;
}
