
.formulario1{
    display: flex;
    flex-direction: column;

    border-radius: 0.1em;
    background-color: #9ddfd3;
}

.errorsText {
    font-size: 0.5em;
    color: red;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.vistaRegisterClient{
    display: flex;
}


.botonCuco:hover{
    background-color: lightpink;
    transition: 0.2s;
}

.red {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 1em;

    border: solid 0.2em red;
    outline: none;
    border-radius: 0.2em;
    padding-left: 1em;
    font-size: 1em;
    cursor: auto;

    box-shadow: 0 0 0 0 black;
}

.registerButton{
    border-radius: 0.5em;
    border: solid #31326f;
    cursor: pointer;
}
