
.contentAppointment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.cita {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    background-color: #9ddfd3;
    border-radius: 0.4em;
    border: solid #31326f;
    width: 33em;
    height: 33em;
    top: -5em;
    left: 17em;
    color: rgb(0, 0, 0);
    box-shadow: 0em 0em 0.3em black;
    cursor: pointer;
}

input {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content:space-around;
    width: 30em;
}
select {
    font-size: .9rem;
    /* padding: 0.12em 0.31em; */
    width: 30em;
}
.inputClient {
    border: none;
    display: flex;
    position: relative;
    flex-direction: column;
    top: -7em;
    left: 4em;
}
.inputDentist {
    top: -0.12em;
    left: 3.1em;
}

.inputClinic {
    left: 3em;
    top: -3.5em;
}

.inputDate {
    left: 4em;
    top: 5.9em;
}
.inputTime {
    top: -1em;
}
.textArea {
    top: 6em;
    width: 25em;
}

.sendButton {
    top: 8em;
    left: 11.5em;
    width: 11em;
    height: 2em;
    justify-content: center;
    background-color: #9696c9;
    box-shadow: 0em 0.1em 0.3em 0.1em black;
}