
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.cita {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    background-color: #cceede;
    border-radius: 0.4em;
    width: 44em;
    height: 23em;
    top: -2em;
    color: rgb(0, 0, 0);
    box-shadow: 0em 0em 0.3em black;
    cursor: pointer;
}

input {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content:space-around;
    width: 13em;
}
select {
    font-size: .9rem;
    padding: 0.12em 0.31em;
    width: 15em;
}

.inputClient {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 8em;
    left: 3em;
}
.inputDentist {
    top: -6.8em;
    left: 2.6em;
}

.inputClinic {
    left: 27em;
    top: -4.8em;
}

.inputDate {
    left: 26em;
    top: 3.6em;
}

.sendButton {
    top: -3em;
    left: 18em;
    width: 6em;
    height: 2em;
    justify-content: center;
    background-color: #9696c9;
    box-shadow: 0em 0em 0.3em black;
}